<div class="container">
    <h1>Welcome to the home page!</h1>
    <p>This is the home page of our application.</p>
    <a href="/views/contact.ejs
    " class="btn btn-primary">Go to contact page</a>
</div>